<!-- teste -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/sucesso.css')}}">
    <title>Ayrá-Realizado!</title>
</head>
<body>
    <div class="container">
        <h1>Obrigado por entrar em contato!</h1>
        <h2>Em breve estaremos retornando em seu email</h2>
        <nav>
            <a href="{{url_for('menu')}}">Menu</a>
        </nav>
    </div>

    <script src="{{url_for('static', filename = 'js/sucesso.js')}}"></script>
</body>
</html>